<div class="container-adress">
    <form action="">
        <div class="form-row">
            <div class="form-group col-md-6">
                <select name="provincia" id="select-provincia">
                    <option value="">Seleccione provincia</option>
                    <option *ngFor="let item of states" value="item.id">
                        {{item.nombre}}
                    </option>
                </select>

                <select name="localidad" id="select-localidad">
                    <option value="">Seleccione localidad</option>
                </select>
            </div>
        </div>

        <label>Calle</label>
        <input type="text">

        <label>Numero</label>
        <input type="text">

        <label>Entre calles</label>
        <input type="text">

        <div class="container-adress__button">
            <app-button [text]="'Guardar'" (clickButton)="saveAdress()"></app-button>
        </div>
    </form>  
</div>
